<div class="inputs-container">
  <div class="input-client-container">
    <label for="clientName" class="label">Nombre del cliente</label>
    <input type="text" (keyup)="UpdateName()" [(ngModel)]="clientName" id="clientName" class="input-client" required placeholder="Ingrese nombre">
  </div>

  <div class="input-table-container">
    <label for="clientTable" class="label">Mesa</label>
    <input type="text" (keyup)="UpdateTable()" [(ngModel)]="tableNumber" id="clientTable" class="input-table input-client " required placeholder="N°" maxlength="3">
  </div>
</div>
