.product-div {
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100%;
  gap: 0.2rem;
}

.product-div td {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 0.8rem;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.product-qty {
  align-self: center;
}

.product-name {
  flex: 1;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  align-self: center;
}


.buttons {
  display: flex;
  gap: 0.2rem;
}
