<section class="order-section">
  <table class="order-table">
    <thead>
      <tr>
        <th colspan="2" class="resume">Resumen del pedido</th>
      </tr>
    </thead>
    <tbody>
      <tr class="item-price">
        <td>Item</td>
        <td>Precio</td>
      </tr>
      <tr>
        <td colspan="2" class="products-order">
          <app-products-order [products]="productOrderList" (productAdded)="onProductClicked($event)"></app-products-order>
        </td>
      </tr>
    </tbody>
    <tbody class="client-data-table">
      <tr>
        <td>Cliente: {{ clientName }}</td>
      </tr>
      <tr>
        <td>Mesa: {{ tableNumber }}</td>
      </tr>
      <tr>
        <td colspan="2">TOTAL: {{ totalOrderPrice ? totalOrderPrice : 0 }}</td>
      </tr>
      <tr *ngIf="showError" class="error-message">
        <td colspan="2">Faltan datos para generar la orden</td>
      </tr>
    </tbody>
  </table>
  <button class="btn-send-order" (click)="createOrder()">Enviar Orden</button>
</section>
